<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        
        <template v-if="Count">
            <div>green</div>  
        </template>
        <template v-else-if="Count">
            <div>yellow</div>
        </template>
        <template v-else="Count">
            <div>red</div>
        </template>

        <button @click="count--">เปลี่ยนไฟ</button>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                count: 2
            },
            methods:{
                Count: function(){
                    if(this.count==2){
                        this.count--
                    }else if(this.count==1){
                        this.count--
                    }else if(this.count==0){
                        this.count--
                    }else{
                        this.count==2
                    }
                }
            }
        });
    </script>
    
</body>
</html>