<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app"></div>
        <button style="color: green;"></button><br>
        <button style="color: yellow;"></button><br>
        <button style="color: red;"></button><br>
        
        <template v-if="count==2">
            <div>green</div>  
        </button><br>
        </template>
        <template v-else-if="count==1">
            <div>yellow</div>
        </template>
        <template v-else="count==0">
            <div>red</div>
        </template>

        <button @click="count--">เปลี่ยนไฟ</button>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                count: 2,
                colors: [
                    'green',
                    'yellow',
                    'red'
                ]
            }
        });
    </script>
    
</body>
</html>